:host {
  /* display: inline-flex;
  flex-direction: column; */
}

.annHeader {
  font-size: 1.5rem;
}

.inlineAnnotation {
  position: relative;
  top: 1.3em;
  left: -2em;
}

.inlineImageAnnotation {
  position: absolute;
}

.annotation-info {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  color: black;
  font-style: normal;
  word-break: normal;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  white-space: normal;
  width: 18em;
  position: absolute;
  display: inline-block;
  padding: 0.5em 0.75em;
  box-shadow: 2px 6px 16px -5px rgba(0, 0, 0, 0.6);
}

.visible-icon {
  margin-right: 0.25em;
}

.help-icon {
  margin-left: 0.25em;
}

.annotationVisibleText {
  font-size: 0.9rem;
}

.annotation-info em {
  font-size: 0.9em;
}

.annotation-info .comments li {
  width: 100%;
  font-size: 0.9em;
  margin-bottom: 0.5em;

}

.annotation-info ul.comments {
  list-style: none;
  margin: 0;
  padding: 0;
}

.annotation-info p {
  /*  padding: 0.5em 0;*/
  margin: 0;
}

.annotation-info input[type="number"], .annotation-info textarea {
  background: transparent;
}

.annotation-info input[type="color"] {
  background: transparent;
  cursor: pointer;
}

.annotation-info input[type="number"] {
  width: 4em;
  border: 0;
}

.annotation-info select {
  width: 50%;
}

.annotation-info textarea {
  width: 100%;
  margin-top: 0.6em;
  font-size: 0.9em;
  resize: vertical;
}

.annotation-info .username {
  font-size: 0.9rem;
}

.annTopSection {
  line-height: 1.15em;
}

.annqmark {
  margin-left: 0.2rem;
  margin-top: 0.1rem;
}

.saveChanges {
  float: left;
}

.dark-bg {
  &.highlighted {
    color: white;
  }

  .fulldiv, .points-input, .comment-area, .visible-icon, .help-icon {
    color: white;
  }

  ::ng-deep .timestamp {
    color: white;
  }
}