@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.notification-icon {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.form-view {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 1em 5em;
  align-items: baseline;

  label {
    font-weight: normal;
  }

  label.input-group-label {
    align-self: end;
  }

  & > span {
    cursor: default;
  }

  input.form-control {
    background-color: white;
    cursor: text;
  }

  .form-item {
    display: flex;

    .input-group {
      flex-grow: 1;
    }

    & > *:not(:last-child) {
      margin-right: 0.5em;
    }
  }

  @media (max-width: $screen-xs-max) {
    grid-template-columns: auto;
    gap: 0.5em;

    & > *:nth-child(2n) {
      margin-bottom: 1em;
    }
  }
}

.account-info {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 1em 5em;
  align-items: baseline;

  input.form-control {
    background-color: white;
    cursor: text;
  }

  @media (max-width: $screen-xs-max) {
    grid-template-columns: auto;
    gap: 0.5em;

    & > *:nth-child(2n) {
      margin-bottom: 1em;
    }
  }
}

.contact-info {
  display: flex;
  align-items: stretch;

  & > *:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-width: 0;
  }

  & > *:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  & > span {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-left: 0.325em;
    padding-right: 0.325em;
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    color: #3e3e3e;
    cursor: default;
  }

  .primary-badge {
    background-color: #d6ffd6;
    color: #023811;
  }
}

.contact-collection {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

.form-label {
  font-weight: bold;
  cursor: default;
}

.button-panel {
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & > *:not(:last-child) {
    margin-right: 0.5em;
  }
}

div.small {
  margin-top: 0.5em;

  & > p:last-child {
    margin-bottom: 0;
  }
}

tabset ::ng-deep .tab-content {
  border-bottom-width: 0;
}

tim-table.style-listing ::ng-deep {

  .timTableRunDiv {
    margin: initial;
    padding: 0;
  }

  .timTableContentDiv, .timTableTable {
    margin-bottom: 0;
    margin-top: 0;
  }

  .timTableTable {
    width: 100%;

    & > col.cbColumn {
      width: 16px;
    }
  }
}

.style-loader {
  display: flex;

  & > * {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.info-box {
  margin-top: 1em;
  margin-bottom: 1em;
}

.current-styles {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  max-height: 800px;

  & .dndDraggingSource {
    display: none;
  }

  & .dndDragging {
    border: 1px solid green;
  }

  & > .drag-placeholder {
    min-height: 50px;
    background-color: #efefef;
  }

  & > div {
    padding: 0.25em 0.5em;
    display: flex;
    align-items: center;
    border: 0 solid var(--basic-border-color);
    border-top-width: 1px;

    &:last-child {
      border-bottom-width: 1px;
    }

    .style-actions {
      display: flex;
    }

    & .sort-handle {
      font-size: 20px;
      margin-right: 0.5em;

      &.disabled {
        color: #ddd;
      }
    }

    .style-info {
      flex-grow: 1;

      h4 {
        font-size: 1em;
        margin-bottom: 0.25em;
        margin-top: 0.1em;

        span {
          margin-left: 0.5em;
        }
      }

      .style-description {
        font-size: 0.8em;
        color: #666666;
      }

      p {
        margin-bottom: 0.1em;
      }
    }
  }
}

textarea#custom_css {
  resize: vertical;
  min-height: 300px;
}
